/* ProxyLens UI — deterministic typography assets
 * Sources and licensing are documented in ../assets/fonts/LICENSES.md. */

@font-face {
  font-family: "IBM Plex Sans SC";
  src: url("../assets/fonts/IBMPlexSansSC-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans SC";
  src: url("../assets/fonts/IBMPlexSansSC-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../assets/fonts/JetBrainsMono-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
